.main
    padding-top: 100px
    padding-bottom: 100px
    // .main__container

    &__container
        max-width: 750px
        padding: 25px
        display: flex
        flex-direction: column
        background: rgb(11,13,47)
        border-radius: 5px
    // .main__title

    &__title
        font-size: 26px
        font-weight: 600
        &:not(:last-child)
            margin-bottom: 30px
    // .main__password

    &__password
        background-color: #26294e
        padding: 20px
        border-radius: 8px
        text-align: center
        font-size: 22px
    // .main__lenghtBlock

    &__lenghtBlock
    // .main__lengthNum

    &__lengthNum
    

    // .main__length

    &__length
    // .main__setting

    &__setting
    

    // .main__btn

    &__btn
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        text-align: center
        padding: 10px
        background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%)
        border-radius: px
        transition: all 0.3s ease 0s
        text-transform: uppercase
        font-size: 20px
        font-weight: 500
        border-radius: 8px
        margin-top: 20px
        @media (any-hover: hover )
            &:hover
                transform: translateY(-3%)
                box-shadow: 0 4px 8px rgba(255, 255, 255, 0.08)
.setting-main
    // .setting-main__item
    &__title
        color: rgb(119,122,151)
        font-weight: 500
        text-transform: uppercase
    &__body
        display: flex
        flex-direction: column
    &__item
        display: flex
        justify-content: space-between
        background-color: #26294e
        padding: 15px
        border-radius: 5px
        &:not(:last-child)
            margin-bottom: 10px
    // .setting-main__text
    &__text
        font-size: 21px
    

    // .setting-main__check

    &__check
    

